p{
    color: aliceblue;
}

.title {
    height: 50px;
    font-size: 45px;
}

.sub-title{
    font-size: 25px;
}

.role{
    color: yellow;
}

.big-curly__open{
    margin-left: 20px;
}

.big-curly__close{
    font-size: 25px;
}

.body{
    margin-left: 30px;
}