<div class="body_full">
    <div class="body">
        <div class="title">
            <p>{{title}}</p>
        </div>
        <div class="sub-title">
            <p>{{subtitle_prefix}} <span class="role">{{subtitle_role}}</span><span
                    class="big-curly__open">{{curly_open}}</span></p>
        </div>

        <app-about-me-section></app-about-me-section>
        <app-education-section [data]="educationSection"></app-education-section>
        <app-work-experience [data]="workXpSection" ></app-work-experience>
        <app-skills-section [data]="skillsSection"></app-skills-section>
        <app-publications-section [data]="publicationsSection"></app-publications-section>
        <app-socials-section [data]="socialsSection"></app-socials-section>
        
        <p class="big-curly__close">{{curly_close}}</p>
    </div>
</div>