body{
    background-color: #1E1E1E;
}
#header {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: 0;
    top: 0;
    clear: both
    
}
   
#toMainPage{
    color: black;
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none; 
}
.pagetitle{
    color: rgb(44, 44, 44);
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none; 
    padding-left: 1%;

}

.thisPage{
    color:gray;
    font-size: 2.1em;
    font-weight: bold;
    text-decoration: none; 
    padding-left: 1%;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 75%;
}

#author{
    width: 100%;
    text-align: center;
}

#origin{
    width: 100%;
    text-align: center;
    text-decoration: none; 
    color: black;
}