.image_list_container{
    margin-top: 5%;
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.image_row{
    display: inline-block;
    width: 100%;
    height: 25% ;
}

.image_and_text{
    text-decoration: none;
    color: orange;
    text-align: center;
    padding-left: 6.25%;
    display: inline-block;
    margin-bottom: 10%;
    margin-top: 0%;
    width: 25%;
}

.image{
    height: auto;
}

a:hover{
    transform: scale(1.5);
    color: gray;
}

