.text-zone {
    border-left: 1px solid #425677;
    margin-top: -10px;
    margin-bottom: -10px;
}

.text{
    padding-left: 30px;
    text-align: justify;
    width: 90%;
}

.white-text {
    color: #ffff;
}

.subtitle {
    color: #2AB6DD;
}

* {
    font-size: 18px;
}

