* {
  font-family: 'Source Code Pro Regular', monospace
    /* Replace with your custom font */
    , sans-serif;
  /* Add !important to overwrite all elements */
  font-size: 18px;

  .components{
    display: inline-block;
    margin-top: -30px;
  }

  .body{
    width: 97%;

  }
  
  .counter{
    width: 3%;
  }

}