.text-zone {
    border-left: 1px solid #425677;
    margin-top: -10px;
    
}

.text {
    padding-left: 30px;
}

.subtitle {
    color: #2AB6DD;
}

table,
tr {
    width: 100%;
}

.first_col {
    width: 900px;
}


.sec_col {
    width: 80%;
}


.title,
.curly {
    color: #ffff;
}

.curly_close {
    margin-top: 0;
}

.place {
    color: #6EEAB7;
    padding-left: 37px;
}

.task {
    color: #425677;
    padding-left: 30px;
}

.period {
    color: #EFD0AF;
}

.roles_list{
    padding-left: 30px;
}

.vert_line{
    border-left: 1px solid #425677;
    margin-left: 0px;
}

.main_table {
   border-collapse: collapse;
}
